#tp {
    font-size: 20px;
    position: absolute;
    right: 2vw;
    top: 2vh;
}

#move_history {
    display: flex;
    flex-wrap: wrap;
}

#wait_para {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    margin-top: 45vh;
    position: absolute;
    text-align: center;
}